
.main-content {
    background-color: black;
    width: 100%;
    text-align: center;
}
.animation-name {
    color: orange;
    font-size: 50px;
    margin-top: 40px;
}
.animation-episode {
    color: orange;
    font-size: 50px;
}
.animation-text {
    color: orange;
    font-size: 50px;
    margin-top: 40px;
}
.animation-text-second {
    color: orange;
    font-size: 50px;
    margin-top: 50px;
}
