.container {
    width: 1280px;
    margin: 0 auto ;
}
.head-zone {
    margin-bottom: 30px;
    margin-top: 30px;
}
.company-name {
    display: inline-block;
    font-size: 80px;
    text-decoration: none;
    color: #000000;
    margin-bottom: 30px;
}
.blue-text {
    color: #8bace2;
}
.head-nav {
    text-align: center;
    background: #35444F;
}
.head-nav-link {
    display: inline-block;
    text-decoration: none;
    padding: 25px;
    font-size: 25px;
    color: #ffffff;
    border-left: 1px solid black;
}
.header-nav-end {
    border-right: 1px solid black;
}
.sidebar {
    width: 350px;
    border: 1px solid black;
    display: inline-block;
}
.sidebar-item {
    font-size: 25px;
    padding: 20px 40px;
    vertical-align: top;
}
.sidebar-link {
    text-decoration: none;
    color: #000000;
}
.main-content{
    width: 850px;
    vertical-align: top;
    display: inline-block;
    margin-left: 73px;
}
.content-img-wrapper {
    border: 1px solid #000000;
    padding: 70px 270px;
}
.content-img {
    width: 100%;
}
.page-text {
    font-size: 18px;
    color: #2C2C2C;
    line-height: 1.5;
    margin: 30px 0;
}
.footer-zone {
    padding: 20px 25px;
    background: lightgray;
}
.footer-nav {
    display: inline-block;
    border: 0px solid black;
}
.footer-nav-item {
    display: inline-block;
}
.footer-nav-link {
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding-right: 30px;
}
.page-copyright {
   display: inline-block;
    font-size: 25px;
    margin-left: 87px;
}
