.content {
    background: url("../image/background.png") center no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y: scroll;
}
.container {
    width: 1050px;
    margin: 0 auto;
}

.header-content {
    margin-top: 60px;
}
.company-name {
    font-size: 30px;
    text-transform: uppercase;
    display: inline-block;
    color: white;
}
.company-name-smaller {
    display: block;
    font-size: 20px;
}
.company-logo {
    float: left;
    text-decoration: none;
}
.company-image {
    vertical-align: top;
}
.contacts {
    float: right;
    text-align: right;
}
.contacts-text {
    padding-bottom: 8px;
    text-decoration: none;
    color: white;
}
.contacts-text:first-of-type {
    display: block;
}

.tours-name {
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 30px;

}
.tours-image {
    margin-left: 40px;
    width: calc(100% / 3 + 190px);
}
.tours-item {
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    text-decoration: none;
    margin-right: 45px;
}

.footer-content {
    color: white;
    font-size: 15px;
    text-align: center;
    margin-top: 50px;
}
.company-logo:hover {
   color: #F26522;
}
.company-logo:hover .company-image {
    content: url("../image/orange logo.png");
}
.company-logo:hover .company-name {
    color: #F26522;
}
.contacts-text:hover {
    color: #F26522;
}

.tours-item-description {;
    box-sizing: border-box;
    padding: 10px;
    background-color: #F26522;
    opacity: 0;
}
.description {
    float: left;
    font-size: 10px;
    padding-left: 5px;
    padding-top: 7px;
    color: white;
}
.cost {
    padding-top: 6px;
    display: block;
    font-size: 20px;

}
.details {
    float: right;
    color: white;
    text-align: right;
    margin-top: 25px;
}
.details::after {
    content: '';
    display: inline-block;
     width: 10px;
     height: 10px;
     border: 1px solid transparent;
     border-top-color: white;
     border-right-color: white;
     transform: rotate(45deg);
}
.tours-shopping {
    background-image: url("../image/shopping tours.png");
    padding-top: 155px;
    width: 300px;
}
.tours-sightseeing {
    background-image: url("../image/sightseeing tours.png");
    padding-top: 155px;
    width: 300px;
}
.tours-food {
    background-image: url("../image/food tours.png");
    padding-top: 155px;
    width: 300px;
}
.tours-bars {
    background-image: url("../image/bars & nightlife.png");
    padding-top: 155px;
    width: 300px;
}
.tours-art {
    background-image: url("../image/art & architecture.png");
    padding-top: 155px;
    width: 300px;
}
.tours-walking {
    background-image: url("../image/walking tours.png");
    padding-top: 155px;
    width: 300px;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.tours-item:hover .tours-item-description {
    opacity: 1;
}
.tours-item:hover .tours-name {
   color: #F26522;
}
.description::before {
    content: 'from';
}


