.App {
  text-align: center;
}
.App a {
  display: inline-block;
  padding: 10px;
  margin: 10px 20px;
  text-decoration: none;
  border-radius: 15px;
  font-size: 25px;
  color: green;
  transition: 1s ease-in-out;
}
.App a:hover {
  transform: scale(1.4,1.2);transition: 1s ease-in-out;
  position: relative;
  /*font-weight: 700;*/
  color: darkgreen;
}
.App a:focus {
  color: darkslategray;
  background-color: orange;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.nav-menu {
  background-color: #61dafb;
}
.nav-menu-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav-menu-ul > li {
  list-style-type: none;
}
.App-link {
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
