.content {
    background: url("../image/background.png") center no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y: scroll;
}
.container {
    width: 1250px;
    margin: 0 auto;
}
.background-header {
    background: rgba(0, 0, 0, 0.4);
    padding: 15px 0;
}
.company-name {
    font-size: 22px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
}
.sprite {
    background: url("../image/spritesheet.png") no-repeat;
    height: 19px;
    width: 19px;
}

.nav-menu-right {
    float: right;
    text-decoration: none;
    color: white;
}
.nav-login-sign:hover {
    color: #3CB878;
}
.company-name:hover {
    color: #3CB878;
}
.main-content {
    background-color: white;
    width: 450px;
    margin-top: 90px;
    transform: translateY(calc((100vh - 60px - 722px) / 2));
    padding: 25px;
}
.sign {
    float: left;
    font-size: 20px;
    padding-left: 60px;
    padding-top: 20px;
}
.register-blank {
    text-decoration: none;
    margin-bottom: 65px;

}
.login {
    text-decoration: none;
    float: right;
    font-size: 14px;
    color: #3CB878;
    margin: 23px 60px;
}
.facebook {
    background-color: #305DB8;
    text-decoration: none;
    padding: 16px;
    border-radius: 5px;
    float: left;
}
.facebook-text {
    display: inline-block;
    font-size: 16px;
    padding-left: 40px;
    color: white;
    /*border: 1px solid black;*/
}
.facebook-text::before {
    border-left: 1px solid black;
}
.google {
    background-color: #DF4A32;
    text-decoration: none;
    padding: 17px;
    margin-left: 10px;
    border-radius: 5px;
    float: right;
}
.google-text {
    display: inline-block;
    font-size: 16px;
    padding-left: 40px;
    color: #ffffff;
}
.google-text::before {
    border-left: 1px solid black;
}

.nav-bar-wrapper {
    margin: 20px 50px;
}
.register-blank-text {
    text-align: center;
    padding-top: 30px;
    color: #848484;
    font-size: 14px;
}
.register-blank-text::before {
    border-top: 1px solid black;
}
.register-blank-text::after {
    border-top: 1px solid black;
}
.spoiled-blank {
    padding: 10px 50px;
}
.spoiled-blank-item {
    display: block;
    border-radius: 6px;
    padding: 15px;
    width: 100%;
    margin-top: 20px;
    border: 1px solid #dbd3d3;
}
.checkbox {
    padding-left: 50px;
}
.rule {
    color: #3CB878;
    text-decoration: none;
}
.confirm-content {
    padding-bottom: 40px;
}
.confirm-button {
    padding: 15px 100px;
    background-color: #3CB878;
    border-radius: 4px;
    margin-left: 50px;
    margin-top: 30px;
    width: 385px;
    border: 1px solid #dbd3d3;
    font-size: 16px;
    color: white;
}
.spoiled-blank-item:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border: none;
}
.register-blank-text:before {
    border: 1px solid black;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

