.buttonsDesign {
    color: white;
    display: inline-block;
    min-width: 50px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out,box-shadow .3s ease-in-out;
}
.buttonsDesign:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.modalBtn1 {
    color: #fff;
    background-color: rgb(35,74,15);
    border-color: rgba(35,74,15,0.9);
}
.modalBtn1:hover {
    border-color: rgb(35,74,15);
    background-color: white;
    color: rgba(35,74,15,0.9);
}
.modalBtn2 {
    margin-top: 20px;
    background-color: darkgray;
    border-color: darkgray;
}
.modalBtn2:hover {
    color: grey;
    background-color: white;
    border-color: white;
}
.modalBtnBasket {
    color: #fff;
    background-color: rgb(111,11,15);
    border-color: rgba(111,11,15,0.9);
}
.modalBtnBasket:hover {
    border-color: rgb(111,11,15);
    background-color: white;
    color: rgba(111,11,15,0.9);
}
.modalBtn2, .modalBtn1,.modalBtnBasket:focus {
    outline: none;
}
.closeBtn {
    font-size: 30px;
}
.closeBtn:hover {
    color: black;
    cursor: pointer;
}
.modal-remove-basket-all {
    color: #fff;
    background-color: rgb(171,4,15);
    border-color: rgba(171,4,15,0.9);
}
.modal-remove-basket-all:hover {
    border-color: rgb(171,4,15);
    background-color: white;
    color: rgba(171,4,15,0.9);
}
.modal-remove-basket {
    color: #fff;
    background-color: rgb(171,74,15);
    border-color: rgba(171,74,15,0.9);
}
.modal-remove-basket:hover {
    border-color: rgb(171,74,15);
    background-color: white;
    color: rgba(171,74,15,0.9);
}