.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}
.modal-body {
    color: white;
    width: 600px;
    height: 160px;
}
.modalHeader {
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding: 30px ;
    color: black;
    line-height: 20px;
    font-size: 22px;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.8);
}
.modalCenter {
    padding: 30px;
    margin: 0;
    font-size: 18px;
    background-color: rgb(232,76,61);
}
.modalCenter p {
    text-align: center;
    margin: 10px 0;
    padding: 0;
}
.buttons-Ok-Cancel {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}
.modal-body2 {
    color: white;
    width: 600px;
    height: 160px;
}
.modalHeader2 {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 40px ;
    line-height: 20px;
    font-size: 26px;
    display: flex;
    justify-content: space-between;
    background-color: darkgray;
}
.modalCenter2 {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 30px;
    margin: 0;
    font-size: 18px;
    background-color: grey;
}
.modalCenter2 p {
    text-align: center;
    margin: 10px 0;
    padding: 0;
}
.buttons-Ok-Cancel2 {
    text-align: center;
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}
.modal-card-span {
    font-style: italic;
    color: black;
    font-weight: 700;
    font-size: 25px;
}
.modal-image {
    border-radius: 15px;
    width: 150px;
    height: 200px;
}
.closeCross {
    position: absolute;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    top: 20px;
    right: 20px;
}

