.modal-wrapper {
    max-width: 400px;
    background-color: #D44637;

}
.modal-title {
    color: blue;
    font-size: 16px;
    text-align: center;
    display: inline-block;

}
.modal-text {
    font-size: 14px;
    text-align: center;
    color: blue;
}
.modal-span {
    background-color: #E74C3C;
}