.header-content {
    background-color: #313131;
    padding: 15px;
}
.company-logo-name {
    text-decoration: none;
}
.company-name {
    font-weight: bold;
    font-size: 22px;
    color: white;
    margin-left: 25px;
    display: inline-block;
}
.nav-menu {

    text-align: center;
}
.nav-menu-link {
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    margin-left: 20px;
}
.nav-menu-link:hover {
    color: #14B9D5;
}
.search-content {
    text-align: right;
    color: black;
    padding: 20px;
}
.search-item {

}


