.table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 900px;
    border: 20px solid #3a4965;
}
.table-name {
    background: #FAFAFA;
    text-transform: uppercase;
    font-size: 18px;
    vertical-align: center;
}
.table-heading {
    border: 1px solid black;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    padding: 30px 0;
    margin-top: 10px;
}
.table-heading-green {
    background: #89C331;
}
.table-heading-red {
    background: #F04A56;
}
.table-heading-darkgreen {
    background: #20807C;
}
.table-name-wrapper {
    display: block;
    text-transform: uppercase;
    font-size: 30px;
    padding: 10px 0;
}
.table-storage {
    border: 1px solid black;
    background: #F2F2F2;
    text-transform: uppercase;
    padding: 23px 100px;
    color: #484848;
}
.table-bandwidth {
    border: 1px solid black;
    background: #E3E3E3;
    text-transform: uppercase;
    padding: 23px 100px;
    color: #484848;
}
.table-email {
    border: 1px solid black;
    background: #F2F2F2;
    text-transform: uppercase;
    padding: 23px 120px;
    color: #484848;
}
.table-support {
    border: 1px solid black;
    background: #E3E3E3;
    text-transform: uppercase;
    padding: 23px 120px;
    color: #484848;
}
.table-products {
    border: 1px solid black;
    background: #F2F2F2;
    text-transform: uppercase;
    padding: 23px 120px;
    color: #484848;
}
.table-users {
    border: 1px solid black;
    background: #F2F2F2;
    text-transform: uppercase;
    padding: 23px 120px;
    color: #484848;
}
.table-button-link {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 15px 50px;
    border-radius: 5px;
    background: black;
    margin-left: 35px;
}
.table-button {
    border: 1px solid black;
    padding: 40px;
    background: #dddddd;
}
.table-footer {
    padding: 30px;
}
.table-button-link-buy-green {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 15px 50px;
    border-radius: 5px;
    background: #89C331;
    margin-left: 35px;
}
.table-button-link-buy-red {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 15px 50px;
    border-radius: 5px;
    background: #F04A56;
    margin-left: 35px;
}
.table-button-link-buy-darkgreen {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 15px 50px;
    border-radius: 5px;
    background: #20807C;
    margin-left: 35px;
}
.price {
    position: relative;
    font-family: sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: black;
    background: #FAFAFA;
    text-align: center;
    border-left: 1px solid #3a4965;
    border-right: 1px solid #3a4965;
}

.price-coins {
    position: absolute;
    top: 0;
    font-size: 24px;
}

.price-plan {
    position: absolute;
    top: 18px;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 10px;
}
.table-first-price {
    background: #FAFAFA;
    padding: 15px;
}
.fa-users {
    font-size: 24px;
    color: #848484;
}
.fa-box-open {
    font-size: 24px;
    color: #848484;
}
.fa-life-ring {
    font-size: 24px;
    color: #848484;
}
.fa-envelope {
    font-size: 24px;
    color: #848484;
}
.fa-archive {
    font-size: 24px;
    color: #848484;
}